body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

div {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #030303;
}

p {
    color: #fff;
    font-size: 3rem;
}